{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    
<span class="section-container">
    <section>
        <img src="{% static 'core/img/zamar-3.jpg' %}" alt="">
        <img src="{% static 'core/img/zamar-2.jpg' %}" alt="">
        <img src="{% static 'core/img/zamar-1.jpg' %}" alt="">
        <img src="{% static 'core/img/zamar-9.jpg' %}" alt="">
        <img src="{% static 'core/img/zamar-12.jpg' %}" alt="">
        <img src="{% static 'core/img/zamar-10.jpg' %}" alt="">
        <img src="{% static 'core/img/zamar-11.jpg' %}" alt="">
        <img src="{% static 'core/img/zamar-6.jpg' %}" alt="">
        <img src="{% static 'core/img/zamar-15.jpg' %}" alt="">
        <img src="{% static 'core/img/zamar-14.jpg' %}" alt="">
    </section>
    <ul class="horizontal-list">
        <li>Alberto voz</li>
        <li>Lesslie voz</li>
        <li>Cielo voz</li>
        <li>Alma voz</li>
        <li>Clarissa voz</li>
        <li>Yamileth voz</li>
        <li>Alan drums</li>
        <li>Uriel guitar</li>
        <li>Jonathan guitar</li>
        <li>Anahí bass</li>
    </ul>
</span>
<div class="nosotros-foot">
    <p class="definicion">
        El nombre ZAMAR poviene del Hebreo que se define como la acción de tocar un instrumento y acompañarlo con la voz.
        Y también abarca el sentido de la adoración con el hecho de alabar mediante la música y el canto a Dios
    </p>
</div>
{% endblock %}