{% extends 'core/base.html' %}
{% load static %}
{% block content %}
    <h1 class="about-principal">
        Ministerio de Alabanza ZAMAR
    </h1>

    <img class="logo-fuerte" src="{% static 'core/img/logoz.png' %}" alt="">

    <span class="definiciones">
        <p class="parrafo-defzamar">
            Entonces será levantada mi cabeza sobre mis enemigos que me cercan; y en su tienda ofreceré sacrificios con voces de júbilo; cantaré, sí, cantaré alabanzas al SEÑOR.
        </p>
        <p class="parrafo-defzamar">
            Servicios: Domigos 10:00, 12:30 y 16:30; Miércoles 18:00
        </p>
    </span>
    

    <footer>
        <div class="social-icons-container">
            <a href="https://www.facebook.com/profile.php?id=100083550551493" class="social-icon" target="_blank"></a>
            <a href="https://open.spotify.com/artist/1QzDUEfDIoYaSrvJ5u0jcA?si=WoUfY-p0RKauzQ7nKPeQZA" class="social-icon" target="_blank"></a>
            <a href="https://www.youtube.com/@jonysmusic4845" class="social-icon" target="_blank"></a>
        </div>
        <span class="copyright">&copy;2023, 1ra. IAFCJ Parral, Todos los Derechos Reservados <small>_POWERED BY BOX DIGITAL</small></span>
    </footer>

{% endblock %}
